.body-container{
    /* background-color: rgb(13, 127, 227); */
    height: 10000px;
    width: 100%;
    /* border: 2px solid black;  */
}
.nav{
    background-color:black;
    height: 50px;
    width: 100%;
    display: flex;
    padding: 10px 16px!important;
    position: fixed;
    justify-content: space-around;
    top: 0;
}
.head{
    background-color:black;
    width: 24.99%;
    
    float:left;
    color: white;
}    
.hero{
    /* background-color: antiquewhite; */
    height: 550px;    
}
.img-content1{
    background-color: black;
    position: absolute;
    left: 20px;
    bottom:180px;
    color: white;     
}
.img-content2{
    /* background-color: antiquewhite; */
    position: absolute;
    top: 250px;
    left: 50%;
    font-size: 52px;
}
.about{
    /* background-color: antiquewhite; */
    height: 1050px;
    width: 600px;
    margin: auto;
    padding: 10px;
}
h5{
    text-align: center;
    color: white;
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
p{
    text-align: center;
}
.small{
    background-color: rgba(237, 231, 231, 0.838);
    height: 120px;
    border-left: 5px solid rgb(194, 189, 189);
}
.medium{
    /* background-color: aquamarine; */
    height: 610px;
}
.menu{
    background-color: rgb(251, 249, 249);
    justify-content: space-between;
    width: 100%;    
    display: flex;
}
.menu-bar{
    width: 50%;
    
}
.subpara{
    text-align: left;
    padding: 10px;
}